 .App {
  /* cursor: move; */

}
/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
/* 
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.DisplayBox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin: 0 5vw;
}

.statusBox{
  background-color: rgb(240, 240, 240);
  min-height: 80vh;
  padding:10px;
}

.statusHead{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.creatingItemClass{
  margin:20px 5vw;
}

.item {
  margin-top: 5px;
  padding:10px;
  background-color:#61dafb;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.looseItem {
  margin-left: 20px;
}

h1 {
  font-size: 1.2rem;
  margin-top: 0;
}

.createButton {
  background-color:rgb(32, 94, 209);
  border-radius: 3px;
  color: white;
  border: none;
  padding:6px 15px;
  margin-left: 5px;
}
input {
  margin-left: 5px;
  width: 20vw;
  height: 20px;
}
.current {
  background-color:rgb(240, 240, 240) ;
  
}

.transparentButton {
background-color: transparent;
border:none;
}